*{
  box-sizing: border-box;
}

body{
  font-family: 'roboto', sans-serif;
  background-image: url(img/patt.png);
  overflow-x: hidden;
}
.container {
  width: 1200px;
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
[Class*="col-"]{
  padding-left: 15px;
  padding-right: 15px;
}
.header{
  display: flex;
  height: 100px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.75);
}

.row{
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  justify-content: center
}
.col-3{
  flex: 0 0 25%;
  max-width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.col-6{
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7{
  flex: 0 0 75%;
  max-width: 75;
}

.menu{
  display: flex;
}

.menu li{
  width: 25%;
  border-left: 1px solid #2c71b8;
}

.menu li:last-child{
  border-right: 1px solid #2c71b8;
}


.menu a{ 
  position: relative;
  display: inline-block;
  height: 50px;
  text-decoration: none;
  font-size: 21px;
  color: #2c71b8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search{
  width: 200px;
  height: 40px;
  border:  2px solid #2c71b7;
  display: flex;
  align-items: center;
  }

.searchImput{
  width: 150px;
  border: none;
  background-color: transparent;
  margin: 10px;
  color: #2c71b8;
}

.bgColor {
  width: 30px;
  height: 22px;
  background-color: #2c71b8;
  background-image: url(img/icon\ 4.png);
  background-repeat: no-repeat;
  background-position: center;
  margin: -12px;
}

.formas{
  width: 40px;
  height: 40px;
  background-color: #2c71b7;
}
button{
  width: 40px;
  height: 40px;
  border: none;
  background-color: #ffffff;
  background-image: url(img/icon\ \(1\).png);
  background-repeat: no-repeat;
  background-position: center;
}
.nomberS{
  background-color: #2c71b8;
  color: #ffffff;
  width: 20px;
  height: 20px;
  border-radius: 9px;
  text-align: center;
  position: relative;
  top: -57px;
  right: 11px;
}
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.menu > li {
  position: relative;
  
}

.menu a {
  text-decoration: none;
  display: block;
  padding: 10px 20px;
  color: #2c71b8;
  font-size: 21px;
}

.menu  :hover a {
  background-color: #2c71b8;
  color: #ffffff;
}

/* Стилі для випадаючого меню */
.menuDown {
  display: none;
  position: absolute;
  top: 100%; /* З'являється під головним пунктом меню */
  left: 0;
  background-color: #2c71b7;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 285px; /* Ширина випадаючого меню */
  z-index: 10;
}

.menuDown li {
  border-bottom: 1px solid #ffffff;
  width: 285px;
}

.menuDown a {
  padding: 10px;
  color: #ffffff;
  background-color: #2c71b7;
  font-size: 16px;
}

/* Стилі для ефекту при наведенні */
.menuDown a:hover {
  background-color: #96b8dc;
}

/* Показувати випадаюче меню при наведенні на головний пункт */
.menu > li:hover .menuDown {
  display: block;
}


/* .menuDown:hover  a{
  color: #2c71b7;
} */

.slayder{
  /* width: ; */
  height: 400px;
  background-color: #9cb6d354;;
}
.aSite{
  width: 285px;
  max-width: 285px;
  height: 870px;
  max-height: 870px;
  background-color: #9cb6d354;
}

.divaseCenter{
  width: 900px;
  height: 2337px;
  background-color: #9cb6d354;
  display: flex;
  flex-direction: column;
}

.main .row{
  justify-content: space-evenly
}

.home ul li{
  position: relative;
  float: left;
  font-size: 14px;
  
  margin-top: 30px;
  margin-left: 30px;
}
.home ul li a {
  text-decoration: none;
  color: #96b8dc;;
}
.home ul li span{
  margin: 0;
}

.LeptopsText{
  font-size: 48px;
  font-weight: bold;
  /* margin-top: 30px;
  margin-left: 30px; */
}

.Laptops{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
  margin-right: 15px;
  margin-top: 30px;
  color: white;
}

.icon-down{
  background-image: url(img/icon-down2.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 20px;
  height: 20px;
  right: 5%;
  top: 20%;
}

.price{
  list-style: none;
  position: relative;
  

}

.price > li {
  display: inline-block;
  position: relative;
  width:270px;
  height: 40px;
  background-color: none;
  border: solid 1px white;
}

.price a{
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
}
 .submenu-prises {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #2c71b7;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 270px;
  border: solid 1px white;
  
 }

 .submenu-prises li {
  padding: 10px;
  border-bottom: 1px solid #ffffff;
}

.submenu-prises li a {
  display: block;
  color: white;
  text-decoration: none;
}

.submenu-prises li a:hover {
  background-color: #96b8dc;
  
}
 .price > li:hover .submenu-prises {
  display: block;
 }

 .Device1{
  width: 270px;
  height: 653px;
  background-color: #2c71b7;
 }
.devaiseImg{
  width: 270px;
  height: 173px;
  background-color: #cdddee;
  
}

.imgCenter { 
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 24%;
  
}

.IconImg{
  position: relative;
  left: 230px;
  top: -70px;
}

.IconImg1{
  width: 30px;
  height: 30px;
  background-image: url(img/icon\ \(8\).png);
  background-repeat: no-repeat;
  background-position: center;
}

.IconImg2 {
  width: 30px;
  height: 30px;
  background-image: url(img/icon\ \(5\).png);
  background-repeat: no-repeat;
  background-position: center;
}

.imgCenter:hover {
  border:  1px solid #ffffff;;
  background-color: #96b8dc;
}

.IconImg1:hover {
  border:  1px solid #ffffff;
  background-color: #96b8dc;
}

.IconImg2:hover {
  border:  1px solid #ffffff;
  background-color: #96b8dc;
}

.content1{
  display: flex;
  flex-direction: column;
  
}

.DN {
  font-size: 30px;
  font-weight: bold;
  color: white;
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 20px;
}
.Ltext {
  color: white;
  font-size: 19px;
  font-weight: lighter;
  color: white;
  padding-left: 15px;
  padding-bottom: 20px;
}

span {
  font-size: 21px;
  font-weight: bold;
  color: white;
}

.dollars {
  display: flex;
  font-size: 48px;
  font-weight: bold;
  color: white;
  text-align: center;
  justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.coin {
  font-size: 24px;
  padding-left: 10px;
  line-height: 30px;
}

.btnConteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 21px;
  font-weight: bold;
  color: white;
}
.btn1Prise {
  width: 210px;
  height: 53px;
  border: 1px solid white;
  margin: 15px;
  padding: 15px;
}

.btn2Prise {
  width: 210px;
  height: 53px;
  background-color: #568dc6;
  border: 1px solid #568dc6;
  padding: 15px;
}

.btn1Prise:hover {
  background-color: #96b8dc;
}

.btn2Prise:hover {
  background-color: #96b8dc;
}